.devcontainer
__pycache__
*.pyc
.env
_environment
/.quarto/
_docs/
*.ipynb
.pytest_cache/
.mypy_cache/
node_modules
package-lock.json
package.json
.specstory
.cursorrules
.cursor
repomix-output.txt
artifacts/
