.devcontainer
__pycache__
*.pyc
.env
.env.local
.env.development
.env.production
_environment
/.quarto/
_docs/
*.ipynb
.pytest_cache/
.mypy_cache/
node_modules
package-lock.json
package.json
.specstory
.cursorindexingignore
.cursorrules
.cursor
repomix-output.txt
artifacts/
