<!-- assistant-run.html -->
<div class="mb-2"
     hx-swap="beforeend"
     hx-ext="sse"
     sse-connect="{{ url_for('stream_response', thread_id=thread_id) }}"
     sse-swap="messageCreated,toolCallCreated,toolOutput,imageOutput,fileOutput,textDelta,toolDelta,textReplacement"
     hx-on:htmx:sse-before-message="handleCustomSseEvents(event)"
     sse-close="endStream"
     hx-on::sse-close="reEnableSendButton()"
     hx-on::sse-error="reEnableSendButton()"
     data-thread-id="{{ thread_id }}">
</div>