<!-- index.html -->
{% extends "base.html" %}

{% block content %}
         {# Container is vertical flex, fills parent height explicitly #}
         <div class="container-md d-flex flex-column flex-grow-1 w-100">
           {# Make messages area grow, add padding, enable scrolling #}
           <div id="messages" class="mb-3 pt-3 flex-grow-1 overflow-auto">

            {% for msg in messages %}
              {% if msg.role == "user" %}
                {% set user_input = msg.text %}
                {% include "chat/user-message.html" %}
              {% elif msg.role == "assistant" %}
                <div class="alert alert-info mb-2">
                  {{ msg.text | safe }}
                </div>
              {% elif msg.role == "code" %}
                <div class="bg-light p-2 mb-2 rounded">
                  <pre><code class="text-monospace">{{ msg.text }}</code></pre>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <form id="chatForm" class="w-75 d-flex align-items-end pb-3 ms-auto"
                hx-on::after-request="this.reset()"
                hx-post="{{ url_for('send_message', thread_id=thread_id) }}"
                hx-target="#messages"
                hx-swap="beforeend">
            <textarea
              class="form-control me-2"
              name="userInput"
              placeholder="Enter your question"
              id="userInput"
              autocomplete="off"
              rows="1" {# Start with one row, will expand with CSS #}
              oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
              hx-on:keydown="if (event.key === 'Enter' && !event.shiftKey) { event.preventDefault(); this.form.querySelector('button[type=submit]').click(); }"
              required
            ></textarea>
            <button
              type="submit"
              class="btn btn-primary"
              {% if inputDisabled %}disabled{% endif %}
            >
              Send
            </button>
          </form>
        </div>
{% endblock %}