<!-- weather-widget.html -->
<div class="card bg-light mb-2">
  <div class="card-body">
    <!-- Location -->
    <h5 class="card-title text-center mb-3">{{ reports[0].location }}</h5>
    <div class="row text-center">
      {% for report in reports %}
      <div class="col">
        <!-- Date -->
        <p class="small text-muted">{{ report.date }}</p>
        <!-- Temperature -->
        <p class="h4">{{ report.temperature }}&deg;{{ report.unit }}</p>
        <!-- Conditions -->
        <p>{{ report.conditions }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
