{% extends "emails/base_email.html" %}

{% block email_title %}Email Update Request{% endblock %}

{% block email_content %}
    <h1>Confirm Your New Email Address</h1>
    <p>You have requested to change your email address from {{ current_email }} to {{ new_email }}.</p>
    <p>Click the link below to confirm this change:</p>
    <p><a href="{{ confirmation_url }}">Confirm Email Update</a></p>
    <p>If you did not request this change, please ignore this email.</p>
    <p>This link will expire in 1 hour.</p>
{% endblock %}