<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %} | CCDR Explorer</title>
    
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/extras.css') }}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', path='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', path='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="min-vh-100 d-flex flex-column">    
    <header>
        <!-- Common header content -->
        {% include 'base/partials/header.html' %}
    </header>
    
    <main class="d-flex flex-column flex-grow-1">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>
    
    <footer>
        <!-- Common footer content -->
        {% include 'base/partials/footer.html' %}
    </footer>

    <!-- Common scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- HTMX for ajax functionality -->
    <script src="{{ url_for('static', path='htmx.min.js') }}"></script>
    <!-- SSE extensions for server-sent events -->
    <script src="{{ url_for('static', path='sse.js') }}"></script>
    <!-- Markdown Rendering -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
    <script src="{{ url_for('static', path='stream-md.js') }}"></script>
    <script src="{{ url_for('static', path='results-carousel.js') }}"></script>
</body>
</html>
