<!-- landing page for unauthenticated users -->
{% from 'base/macros/logo.html' import render_logo %}

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-lg-8 offset-lg-2 text-center">
            {{ render_logo(classes="d-inline-block align-middle me-5 text-dark") }}
            <h1 class="display-4 mb-4 d-inline align-middle">CCDR Explorer</h1>
            <p class="lead mb-4">Explore the World Bank's Country and Climate Development Reports with AI-powered semantic search.</p>
        </div>
    </div>

    <!-- Fanned Covers Section -->
    <div class="row justify-content-center mb-5 report-covers-container">
        <div class="col-auto cover-container">
            <img src="{{ url_for('static', path='cover1.png') }}" alt="Report Cover 1" class="img-fluid report-cover cover1">
        </div>
        <div class="col-auto cover-container">
            <img src="{{ url_for('static', path='cover2.png') }}" alt="Report Cover 2" class="img-fluid report-cover cover2">
        </div>
        <div class="col-auto cover-container">
            <img src="{{ url_for('static', path='cover3.png') }}" alt="Report Cover 3" class="img-fluid report-cover cover3">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <a href="{{ url_for('read_login') }}" class="btn btn-outline-light btn-lg mx-2 mb-3 px-4 py-2">Log In</a>
            <a href="{{ url_for('read_register') }}" class="btn btn-primary btn-lg mx-2 mb-3 px-4 py-2">Register</a>
        </div>
    </div>
</div>
{% endblock %}